*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .box{
    height: 100px;
    width: 100px;
    background-color: black;
    transform: translate(200px, 100px);
} */
.box2{
    height: 100px;
    width: 100px;
    background-color: rgb(123, 5, 248);
    /* animation-name: bganimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;


    animation-fill-mode: backwards;*/
    animation: bganimation 5s ease-in-out 3s infinite reverse;
}
@keyframes bganimation{
    0%{
        background-color: black;
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: green;
    }
}

.loader{
    height: 60px;
    width: 60px;
    margin: 50px 0px 0px 50px;
    border-radius: 50%;
    border: 5px solid lightgray;
    border-top: 5px solid royalblue;
    animation: loader 2s infinite;

}
@keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}